<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
        Plase enter you Name:<br>
        {{ form.name(size=20) }}
        {% for error in form.errors.name %}
        <span style="color: #DC143C;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        Password:<br>
        {{ form.password }}
        {% for error in form.errors.password %}
        <span style="color: #DC143C;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me }} remember Me ?</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}